<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BetStrategy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"  />
        <supportedRuntime version="v2.0.50727"/>
    </startup>
    <userSettings>
        <BetStrategy.Properties.Settings>
            <setting name="dbConnectionString" serializeAs="String">
                <value>data source=.\database</value>
            </setting>
            <setting name="pagesToDownload" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="dbSelectRecommends" serializeAs="String">
                <value>select R.* from Recommends R where R.[Person] in (select Person from (select Person,sum(CASE PreferResult WHEN 1 THEN -1 WHEN 2 THEN -0.5 WHEN 4 THEN 0.5*Odds WHEN 5 THEN Odds ELSE 0 END) as Yield from Recommends where Time2 &gt; datetime('NOW','localtime','-14 day') group by Person having Yield&gt;2.5 order by Yield desc)) and Time1 &gt; datetime('NOW','localtime','-48 hour') order by Time1 desc</value>
            </setting>
            <setting name="urlBase" serializeAs="String">
                <value>http://bbs.yn19999.com/Game_Show.asp?page=</value>
            </setting>
            <setting name="forumName" serializeAs="String">
                <value>玉女心经</value>
            </setting>
        </BetStrategy.Properties.Settings>
    </userSettings>
</configuration>